body {
  background-image: url("../images/background1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 100vh;

  /* min-height: 1300px; */
}

.navbar {
  border-radius: 10px;
}

/* animation block */
.animation-block {
  height: 250px;
  border: 1px black solid;
}

.animation-block p {
  border: 1px green solid;
  height: 100px;
  text-align: center;
}

/* Container*/
.search-container {
  height: 100px;
}

.input-group {
  margin: 0 auto;
}

/* Cards*/

.form-of-questions {
  margin-top: 100px;
}

.col-md-3 {
  padding: 0px;
  margin: 10px;
}

.card {
  box-shadow: 1px 1px 1px 1px grey;
}

.card-title {
  font-size: 18px;
}

.card-text,
p {
  font-size: 16px;
}

.form-check-label {
  font-size: 16px;
}
/* The end of the index page*/

/* Quiz WebPage */

/* Set up quiz container */
.set-up-quiz-container {
  margin-top: 100px;
  display: flex;
  flex-flow: column wrap;
  /* justify-content: center;*/
}

.card-body,
p {
  text-align: center;
}

select {
  margin: 10px 0;
}

/*Timer block*/
#timer-are {
  margin-top: 50px;
  text-align: center;
}
